@media only screen and (max-width: 550px) {
  .features-icon {
    display: none;
  }
  .features-about {
    text-align: center;
    padding: 0;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media only screen and (max-width: 650px) {
  .main-nav__list {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .form-container {
    padding-top: 16rem;
  }
  .logo-box,
  .main-nav {
    margin: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 650px) {
  .logo {
    height: 3rem;
  }
  .logo-box {
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  section#pricing {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .price-card{
    margin-bottom: 2rem;
  }
}
